/* General */
body{
  background: #8f8e8e;
}

/* Chart Stuff */
.court {
  stroke: white;
  stroke-width: 2;
  fill: none;
}

#left_chart {
  overflow: visible;
  position: absolute;
  top: 230px;
  left: 270px;
}

#right_chart {
  overflow: visible;
  position: absolute;
  top: 230px;
  right: 270px;
}

/* slider stuff */

/* #attemptSlider {
  position: absolute;
  left: 150px;
  top: 100px;
} */

/* Filter Stuff */

.filters {
  display: flex;
  flex-direction: column;  
  gap: 12px;                
  width: 180px;  
  background-color: #C06243;       
  padding: 10px;   
  border-radius: 8px;
}
#left.filters {
  position: absolute;
  left: 40px;
  top: 245px;
}

#right.filters {
  position: absolute;
  right: 40px;
  top: 245px;
}
.filter-select{
    background: rgba(255, 255, 255, 0.8);
    padding: 6px 10px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    border: 1px solid #ccc;   
    font-size: 14px;          
}

.filter-select:hover {
    background: rgba(255, 255, 255, 1);
}

.filter-select:focus {
    outline: none;
    border-color: #666;
    box-shadow: 0 0 4px rgba(0,0,0,0.3);
}

button{
    background: rgba(255, 255, 255, 0.8);
    padding: 6px 1px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    border: 1px solid #ccc;   
    font-size: 14px;    
}

button:hover{
  background:skyblue;   
}

/* Legend Stuff */

#legend svg {
  position: absolute;
  bottom: 0px;
  left: 440px;
}

#legend text {
  fill: white;
}

.title-box {
  width: 100%;
  max-width: 700px;          /* match chart width */
  /* margin: 0 auto 14px auto;  center + spacing */
  padding: 12px 18px;
  position: absolute;
  top: 70px;
  left: 345px;

  background: #C06243;     /* orange (Tailwind amber-500-ish) */
  border-radius: 14px;

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.chart-title {
  margin: 0;
  text-align: center;

  font-size: 30px;
  font-weight: 700;
  color: white;
}

.chart-subtitle {
  margin: 4px 0 0 0;
  text-align: center;

  font-size: 15px;
  color: rgba(255, 255, 255, 0.9);
}

.player-subtitle {
  position: absolute;
  top: 160px;              /* below main title */
  display: flex;
  align-items: center;
  gap: 10px;
  
  padding: 6px 12px;
  border-radius: 12px;
  background: rgba(192, 98, 67, 0.7); /* soft echo of title color */
}

.left-player {
  left: 345px;   /* align with left chart */
}

.right-player {
  right: 345px;  /* align with right chart */
}

.player-headshot {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;

  background: rgba(192, 98, 67, 0.3);
}

.player-name {
  font-size: 18px;
  font-weight: 600;
  color: white;
  white-space: nowrap;
}